<!DOCTYPE html>
<!-- file: views/professor/show.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>


<!-- ESTA VISTA TENDRA BOTONES PARA CREAR ETIQUETA Y CREAR TAREA 
     LAS RUTAS PARA ESAS DOS COSAS SON: 
    /team/idteam/tag/create
    /team/idteam/task/edit
    ESTO CON LA INTENCION DE PODER PASAR EL ID DEL EQUIPO A LOS CONTROLADORES
    DE AMBAS ENTIDADES, YA QUE TIENEN UNA REFERENCIA A TEAM-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.tailwindcss.com"></script>
{{> navbar}}
</head>
<body>
  {{#create}}
    <div class="grid w-3/4 mx-auto items-center">
      <h1 class="text-4xl font-bold text-center mt-10">{{title}}</h1>
      <form action="/task" method="POST" class="w-full max-w-sm mx-auto mt-20">
        {{#task}}
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
              Nombre de la tarea
            </label>
          </div>
          <div class="md:w-2/3">
            <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="name" type="text" value={{name}}>
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
              Descripción de la tarea
            </label>
          </div>
          <div class="md:w-2/3">
            <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="description" type="text" placeholder={{description}}>
          </div>
        </div>
        {{/task}}
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
              Etiqueta para la tarea
            </label>
          </div>
          <div class="md:w-2/3">
            <select class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="tagid">
              <option value="" selected disabled hidden>Seleccione una opción</option>
              {{#tags}}
                <option style="color: white; background-color: {{color}};" value="{{id}}">{{name}}</option>
              {{/tags}}
            </select>
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
              Responsable de la tarea
            </label>
          </div>
          <div class="md:w-2/3">
            <select class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="userid">
              <option value="" selected disabled hidden>Seleccione una opción</option>
              {{#users}}
                <option value="{{id}}">{{name}}</option>
              {{/users}}
            </select>
          </div>
        </div>
        <input type="hidden" name="teamid" value={{teamid}}>
        <div class="md:flex md:items-center">
          <div class="md:w-1/3"></div>
          <div class="md:w-2/3">
            <input type="submit" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" value="Crear Tarea"/>
          </div>
        </div>
          <div class="mx-auto flex items-center justify-center mt-10">
            <a href="/team/{{teamid}}" class="shadow bg-yellow-500 hover:bg-yellow-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Volver</a>
          </div>
      </form>
    </div>
  {{/create}}
  {{#edit}}
  <div class="grid w-3/4 mx-auto items-center">
    <h1 class="text-4xl font-bold text-center mt-10">{{title}}</h1>
    {{#tasku}}
    <form action="/task/{{id}}" method="POST" class="w-full max-w-sm mx-auto mt-20">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="teamid" value="{{teamid}}">
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
          <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
            Nombre de la tarea
          </label>
        </div>
        <div class="md:w-2/3">
          <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="name" type="text" value="{{name}}">
        </div>
      </div>
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
          <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
            Descripción de la tarea
          </label>
        </div>
        <div class="md:w-2/3">
          <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="description" type="text" value="{{description}}">
        </div>
      </div>
      {{/tasku}}
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
          <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
            Etiqueta para la tarea
          </label>
        </div>
        <div class="md:w-2/3">
          <select class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="tagid">
            <option value="" selected disabled hidden>Seleccione una opción</option>
            {{#tagsu}}
              <option style="color: white; background-color: {{color}};" value="{{id}}">{{name}}</option>
            {{/tagsu}}
          </select>
        </div>
      </div>
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
          <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
            Responsable de la tarea
          </label>
        </div>
        <div class="md:w-2/3">
          <select class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="userid">
            <option value="" selected disabled hidden>Seleccione una opción</option>
            {{#usersu}}
              <option value="{{id}}">{{name}}</option>
            {{/usersu}}
          </select>
        </div>
      </div>
      <input type="hidden" name="teamid" value={{teamid}}>
      <div class="md:flex md:items-center">
        <div class="md:w-1/3"></div>
        <div class="md:w-2/3">
          <input type="submit" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" value="Editar Tarea"/>
        </div>
      </div>
        <div class="mx-auto flex items-center justify-center mt-10">
          <a href="/team/{{teamid}}" class="shadow bg-yellow-500 hover:bg-yellow-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Volver</a>
        </div>
    </form>
  </div>
  {{/edit}}
</body>